
funclist
*.o
*.lst
*.cof
*.hex
*.map
*.mcs
*.err
*.pre
*.p1
*.as
*.hxl
*.obj
*.sdb
*.sym
*.dep
*.rlf
/*/*.lst
/*/*.rlf
/*/*.sdb
/*/*.pre
/*/*.err
/*/*.p1
/*/*.as
/*/*.hxl
/*/*.obj
/*/*.sdb
/*/*.sym
/*/*.dep
/*/*.rlf
/*/*/*.lst
/*/*/*.rlf
/*/*/*.sdb
/*/*/*.pre
/*/*/*.err
/*/*/*.p1
/*/*/*.as
/*/*/*.hxl
/*/*/*.obj
/*/*/*.sdb
/*/*/*.sym
/*/*/*.dep
/*/*/*.rlf
/*/*/*/*.lst
/*/*/*/*.rlf
/*/*/*/*.sdb
/*/*/*/*.pre
/*/*/*/*.err
/*/*/*/*.p1
/*/*/*/*.as
/*/*/*/*.hxl
/*/*/*/*.obj
/*/*/*/*.sdb
/*/*/*/*.sym
/*/*/*/*.dep
/*/*/*/*.rlf
/*/*/*/*/*.lst
/*/*/*/*/*.rlf
/*/*/*/*/*.sdb
/*/*/*/*/*.pre
/*/*/*/*/*.err
/*/*/*/*/*.p1
/*/*/*/*/*.as
/*/*/*/*/*.hxl
/*/*/*/*/*.obj
/*/*/*/*/*.sdb
/*/*/*/*/*.sym
/*/*/*/*/*.dep
/*/*/*/*/*.rlf
/*/*/*/*/*/*.lst
/*/*/*/*/*/*.rlf
/*/*/*/*/*/*.sdb
/*/*/*/*/*/*.pre
/*/*/*/*/*/*.err
/*/*/*/*/*/*.p1
/*/*/*/*/*/*.as
/*/*/*/*/*/*.hxl
/*/*/*/*/*/*.obj
/*/*/*/*/*/*.sdb
/*/*/*/*/*/*.sym
/*/*/*/*/*/*.dep
/*/*/*/*/*/*.rlf
